@model ContactForm

@{
    var message = TempData["Message"] as string;
    var messageType = TempData["MessageType"] as string;
}

<link href="~/css/contact.css" rel="stylesheet" />

<!--Contact Section-->
<section class="contact-our-area pb-3" id="contact">
    <div class="container pb-5 pt-4 text-black">
        <div class="row">
            <!-- Heading -->
            <div class="col-12">
                <div class="mb-4 pt-5">
                    <div>
                        @if (!string.IsNullOrEmpty(message))
                        {
                            <div class="alert alert-@messageType">
                                @message
                            </div>
                        }
                    </div>
                    <h5>Contact Us</h5>
                </div>
            </div>
        </div>

        <div class="row gy-4 justify-content-between mx-3">
            <!-- Contact Form -->
            <div class="col-12 col-md-7" id="contact-form">
                <div class="contact_form_area">
                    <form method="post" id="main_contact_form">
                        <div class="row gy-3 ">
                            <!-- First Name -->
                            <div class="col-12 col-md-6">
                                <input asp-for="FirstName" class="form-control fs-5 placeholder-white" name="FirstName" id="name" placeholder="Your Name *" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <!-- Last Name -->
                            <div class="col-12 col-md-6">
                                <input asp-for="LastName" class="form-control fs-5 placeholder-white" name="LastName" id="last_name" placeholder="Last Name *" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <!-- Email -->
                            <div class="col-12 col-md-6">
                                <input asp-for="Email" class="form-control fs-5 placeholder-white" name="Email" id="email" placeholder="E-mail *" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <!-- Phone Number -->
                            <div class="col-12 col-md-6">
                                <input asp-for="PhoneNumber" class="form-control fs-5 placeholder-white" name="PhoneNumber" id="subject" placeholder="Your Number *" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <!-- Message -->
                            <div class="col-12">
                                <textarea asp-for="Message" class="form-control fs-5 placeholder-white" id="message" placeholder="Your Message *" rows="3"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>

                            <!-- Submit Button -->
                            <div class="col-12 text-start">
                                <div class=" mt-4">
                                    <button asp-controller="ContactForm" asp-action="ContactForm1" class="btn btn-primary fs-5 px-4 py-2 fw-bold">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--Contact Information -->
            <div class="col-12 col-md-4">
                <div class="contact-information">
                    <div class="mb-3">
                        <h4 class="mb-1 text-primary fs-5 fw-bold">Address:</h4>
                        <p class="fs-4">184 Main Collins Street</p>
                    </div>
                    <div class="mb-3">
                        <h4 class="mb-1 text-primary fs-5 fw-bold">Phone:</h4>
                        <p class="fs-4">(226) 446 9371</p>
                    </div>
                    <div class="mb-3">
                        <h4 class="mb-1 text-primary fs-5 fw-bold">Email:</h4>
                        <p class="fs-4">confer@gmail.com</p>
                    </div>

                </div>
            </div>

        </div>


    </div>
</section>



<!--MapSection-->
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d308436.5138084717!2d79.09197384202913!3d12.941258620178797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad3893a209c55b%3A0xb3649fe847b74dca!2sBrain%20Insight!5e1!3m2!1sen!2sin!4v1739039836803!5m2!1sen!2sin" height="450" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<!--footer-->
<section class="footer">
    <div class="footcontainer">
        <div class="footer-class">
            <p class="footer-grid">
                Copyrights © 2024, All Rights Reserved. Powered By BICSET
            </p>
            <ul class="social-ic-icons">
                <li class="facebook"><a href="#"><span></span></a></li>
                <li class="twitter"><a href="#"><span></span></a></li>
                <li class="gmail"><a href="#"><span></span></a></li>
                <li class="browser"><a href="#"><span></span></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <a href="#" id="toTop"><span id="toTopHover"></span></a>
</section>