@{
    ViewData["Title"] = "Home Page";
}

<!--header-->
<!-- Navigation Bar -->
<header class="header-top">
    <div class="nav-container">
        <div class="logo">
            <a href="#"><img src="/css/LOGO2.png" alt="ICSET Logo"></a>
        </div>
        <nav class="top-nav">
            <span class="menu-toggle">&#9776;</span>
            <ul class="nav-links">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#test">Testimonials</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="header">
    <div class="container">
        <div class="header-matter">
            <h2>WELCOME TO <span>ICSET</span></h2>
            <h4>
                International Conference on <span>Science, Engineering</span> and
                <span>Technology</span>
            </h4>
            <a href="#about" class="scroll">
                <img src="/css/down.png" class="scroll-icon" alt="Scroll Down" />
            </a>
        </div>
    </div>
</section>




<!--content-->
<section class="content">
    <div class="container">
        <div class="about" id="about">
            <div class="about-left">
                <img class="red" src="~/css/about2.jpg" alt="About Us Image" />
            </div>
            <div class="left-about">
                <small>ABOUT US</small>
                <h3>Some words about us</h3>
                <p>We love building and rebuilding brands through our specific skills. Using colour, fonts, and illustration, we brand companies in a way they will never forget.</p>
                <ul>
                    <li>
                        <a href="#">
                            <label></label>
                            Mission -<i> We deliver uniqueness and quality</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <label></label>
                            Skills -<i> Delivering fast and excellent results</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <label></label>
                            Clients -<i> Satisfied clients thanks to our experience</i>
                        </a>
                    </li>
                </ul>
                <a href="#" class="browse">
                    <img src="/Content/images/br.png" alt="" />Browse our work
                </a>
            </div>
        </div>
    </div>
</section>



<!--services-->
<section class="services" id="services">
    <div class="container">
        <div class="services-grid">
            <h3>take a look at <span>our services </span></h3>
            <img src="images/li-in.png" alt="">
            <p><i>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</i></p>
        </div>
        <div class="ser-grid">
            <div class="col-md-3 ser-in">
                <a href="#"><span></span></a>
                <h6>Web design</h6>
                <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>
            <div class="col-md-3 ser-in">
                <a href="#"><span class="mobile"></span></a>
                <h6>Web design</h6>
                <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>
            <div class="col-md-3 ser-in">
                <a href="#"><span class="camera"></span></a>
                <h6>Web design</h6>
                <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>
            <div class="col-md-3 ser-in">
                <a href="#"><span class="mike"></span></a>
                <h6>Web design</h6>
                <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>



<!--testimonals-->
<div class="test" id="test">
    <div class="container">
        <h3>OUR CLIENTS' <span>TESTIMONIALS</span></h3>
        <div id="owl-demo2" class="owl-carousel owl-theme">
            <div class="item-bottom">
                <div class="item-right">
                    <p>This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
                    <span>Dean Martin, <label>CEO Acme Inc.</label></span>
                </div>
            </div>
            <div class="item-bottom">
                <div class="item-right">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
                    <span>Jane Doe, <label>Founder of Example Ltd.</label></span>
                </div>
            </div>
            <div class="item-bottom">
                <div class="item-right">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                    <span>John Smith, <label>CTO of Example Co.</label></span>
                </div>
            </div>
        </div>
    </div>
</div>


    
<!--contact-->
<section class="contact" id="contact">
    <div class="container">
        <div class="contact-grid">
            <h3>feel free to <span>contact us </span></h3>
        </div>

        <div class="contact-details">
            <h4>Our Contact Details</h4>
            <p>Email: support@company.com</p>
            <p>Phone: +1 123-456-7890</p>
            <p>Address: 123 Street, City, Country</p>
        </div>

        <form id="con_id">
            <div class="grid-contact">
                <div class="col-md-6 contact-left">
                    <p class="your-para">Name<span>*</span></p>
                    <input type="text" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 contact-left">
                    <p class="your-para">Email address<span>*</span></p>
                    <input type="email" placeholder="Your Email" required>
                </div>
                <div class="col-md-6 contact-left">
                    <p class="your-para">Country Code<span>*</span></p>
                    <select id="country-code" required>
                        <option value="" disabled selected>Select Country Code</option>
                        <option value="US +1">United States (+1)</option>
                        <option value="IN +91">India (+91)</option>
                        <option value="UK +44">United Kingdom (+44)</option>
                        <option value="AU +61">Australia (+61)</option>
                        <option value="CA +1">Canada (+1)</option>
                        <!-- Add more country codes as needed -->
                    </select>
                </div>
                <div class="col-md-6 contact-left">
                    <p class="your-para">Contact Number<span>*</span></p>
                    <input type="text" id="contact-number" placeholder="Contact Number" required>
                </div>
                <div class="col-md-6 contact-left">
                    <p class="your-para">City<span>*</span></p>
                    <input type="text" placeholder="City" required>
                </div>
            </div>
            <p class="message-para">Message<span>*</span></p>
            <textarea cols="77" rows="6" placeholder="Your Message" required></textarea>
            <div class="send">
                <input type="submit" value="SEND">
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</section>



<!--footer-->
<section class="footer">
    <div class="container">
        <div class="footer-class">
            <p class="footer-grid">
                Copyrights © 2024, All Rights Reserved. Powered By BICSET
            </p>
            <ul class="social-ic-icons">
                <li class="facebook"><a href="#"><span></span></a></li>
                <li class="twitter"><a href="#"><span></span></a></li>
                <li class="gmail"><a href="#"><span></span></a></li>
                <li class="browser"><a href="#"><span></span></a></li>
            </ul>

            <div class="clearfix"></div>
        </div>
    </div>
    <a href="#" id="toTop"><span id="toTopHover"></span></a>
</section>
