@{
    ViewData["Title"] = "Home Page";
}

<!--header-->
<!-- Navigation Bar -->
<header class="header-top">
    <div class="nav-container">
        <div class="logo">
            <a href="#"><img src="/css/LOGO2.png" alt="ICSET Logo"></a>
        </div>
        <nav class="top-nav">
            <span class="menu-toggle">&#9776;</span>
            <ul class="nav-links">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#test">Testimonials</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="header">
    <div class="container">
        <div class="header-matter">
            <h2>WELCOME TO <span>ICSET</span></h2>
            <h4>
                International Conference on <span>Science, Engineering</span> and
                <span>Technology</span>
            </h4>
            <a href="#about" class="scroll">
                <img src="/css/down.png" class="scroll-icon" alt="Scroll Down" />
            </a>
        </div>
    </div>
</section>




<!--content-->
<div class="content">
    <div class="container">
        <div class="about" id="about">
            <div class="about-left">
                <img class="red" src="/css/tv.png" alt="" />
            </div>
            <div class="about-left left-about">
                <small>ABOUT US</small>
                <h3>Some words about us</h3>
                <p>We love building and rebuilding brands through our  specific skills. Using colour, fonts, and illustration, we brand companies in a way they will never forget.</p>
                <ul>
                    <li>
                        <a href="#">
                            <label></label>
                            Mission -<i> We deliver uniqueness and quality</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <label></label>
                            Skills -<i> Delivering fast and excellent results</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <label></label>
                            Clients -<i>  Satisfied clients thanks to our experience</i>
                        </a>
                    </li>
                </ul>
                <a href="#" class="browse">
                    <img src="/Content/images/br.png" alt="" />Browse our work
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!---->
    @* <div class="team" id="team"> *@
    @*     <div class="container"> *@
    @*         <h3>Meet <span>our team</span></h3> *@
    @*         <img src="/Content/images/li-in.png" alt="" /> *@
    @*         <!----> *@
    @*         <script> *@
    @*             $(document).ready(function () { *@
    @*                 $("#owl-demo").owlCarousel({ *@
    @*                     items: 1, *@
    @*                     lazyLoad: false, *@
    @*                     autoPlay: true, *@
    @*                     navigation: false, *@
    @*                     navigationText: false, *@
    @*                     pagination: true, *@
    @*                 }); *@
    @*             }); *@
    @*         </script> *@
    @*         <!-- //requried-jsfiles-for owl --> *@
    @*         <!-- start content_slider --> *@
    @*         <div id="owl-demo" class="owl-carousel"> *@
    @*             <div class="item"> *@
    @*                 <div class=" item-in"> *@
    @*                     <img class="five" src="/Content/images/p1.jpg" alt="" /> *@
    @*                     <h6>Jet Li</h6> *@
    @*                     <small>Contrary to popular</small> *@
    @*                     <p>Do not seek to change what has come before. Seek to create that which has not.</p> *@
    @*                 </div> *@
    @*                 <div class=" item-in into"> *@
    @*                     <img class="five" src="/Content/images/p2.jpg" alt="" /> *@
    @*                     <h6>Scott adkins</h6> *@
    @*                     <small>Sed ut perspiciatis unde</small> *@
    @*                     <p>Do not seek to change what has come before. Seek to create that which has not.</p> *@
    @*                 </div> *@
    @*                 <div class=" item-in onto"> *@
    @*                     <img class="five" src="/Content/images/p3.jpg" alt="" /> *@
    @*                     <h6>Sylvester Stallone</h6> *@
    @*                     <small>Nemo enim ipsam voluptatem</small> *@
    @*                     <p>Do not seek to change what has come before. Seek to create that which has not.</p> *@
    @*                 </div> *@
    @*                 <div class=" item-in into"> *@
    @*                     <img class="five" src="/Content/images/p4.jpg" alt="" /> *@
    @*                     <h6>Van Damme</h6> *@
    @*                     <small>At vero eos et accusamus et </small> *@
    @*                     <p>Do not seek to change what has come before. Seek to create that which has not.</p> *@
    @*                 </div> *@
    @*                 <div class="clearfix"></div> *@
    @*             </div> *@
    @*             <div class="item"> *@
    @*                 <div class=" item-in"> *@
    @*                     <img class="five" src="/Content/images/p1.jpg" alt="" /> *@
    @*                     <h6>Jet Li</h6> *@
    @*                     <small>Contrary to popular</small> *@
    @*                     <p>Do not seek to change what has come before. Seek to create that which has not.</p> *@
    @*                 </div> *@
    @*                 <div class=" item-in into"> *@
    @*                     <img class="five" src="/Content/images/p2.jpg" alt="" /> *@
    @*                     <h6>Scott adkins</h6> *@
    @*                     <small>Sed ut perspiciatis unde</small> *@
    @*                     <p>Do not seek to change what has come before. Seek to create that which has not.</p> *@
    @*                 </div> *@
    @*                 <div class=" item-in onto"> *@
    @*                     <img class="five" src="/Content/images/p3.jpg" alt="" /> *@
    @*                     <h6>Sylvester Stallone</h6> *@
    @*                     <small>Nemo enim ipsam voluptatem</small> *@
    @*                     <p>Do not seek to change what has come before. Seek to create that which has not.</p> *@
    @*                 </div> *@
    @*                 <div class=" item-in into"> *@
    @*                     <img class="five" src="/Content/images/p4.jpg" alt="" /> *@
    @*                     <h6>Van Damme</h6> *@
    @*                     <small>At vero eos et accusamus et </small> *@
    @*                     <p>Do not seek to change what has come before. Seek to create that which has not.</p> *@
    @*                 </div> *@
    @*                 <div class="clearfix"></div> *@
    @*             </div> *@
    @*             <div class="item"> *@
    @*                 <div class=" item-in"> *@
    @*                     <img class="five" src="/Content/images/p1.jpg" alt="" /> *@
    @*                     <h6>Jet Li</h6> *@
    @*                     <small>Contrary to popular</small> *@
    @*                     <p>Do not seek to change what has come before. Seek to create that which has not.</p> *@
    @*                 </div> *@
    @*                 <div class=" item-in into"> *@
    @*                     <img class="five" src="/Content/images/p2.jpg" alt="" /> *@
    @*                     <h6>Scott adkins</h6> *@
    @*                     <small>Sed ut perspiciatis unde</small> *@
    @*                     <p>Do not seek to change what has come before. Seek to create that which has not.</p> *@
    @*                 </div> *@
    @*                 <div class=" item-in onto"> *@
    @*                     <img class="five" src="/Content/images/p3.jpg" alt="" /> *@
    @*                     <h6>Sylvester Stallone</h6> *@
    @*                     <small>Nemo enim ipsam voluptatem</small> *@
    @*                     <p>Do not seek to change what has come before. Seek to create that which has not.</p> *@
    @*                 </div> *@
    @*                 <div class=" item-in into"> *@
    @*                     <img class="five" src="/Content/images/p4.jpg" alt="" /> *@
    @*                     <h6>Van Damme</h6> *@
    @*                     <small>At vero eos et accusamus et </small> *@
    @*                     <p>Do not seek to change what has come before. Seek to create that which has not.</p> *@
    @*                 </div> *@
    @*                 <div class="clearfix"></div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    @* <!----> *@
    @* <div class="services" id="services"> *@
    @*     <div class="container"> *@
    @*         <div class="services-grid"> *@
    @*             <h3>take a look at <span>our services </span></h3> *@
    @*             <img src="/Content/images/li-in.png" alt="" /> *@
    @*             <p><i>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</i></p> *@
    @*         </div> *@
    @*         <div class="ser-grid"> *@
    @*             <div class="col-md-3 ser-in"> *@
    @*                 <a href="#"><span></span></a> *@
    @*                 <h6>Web design</h6> *@
    @*                 <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p> *@
    @*             </div> *@
    @*             <div class="col-md-3 ser-in"> *@
    @*                 <a href="#"><span class="mobile"></span></a> *@
    @*                 <h6>Web design</h6> *@
    @*                 <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p> *@
    @*             </div> *@
    @*             <div class="col-md-3 ser-in"> *@
    @*                 <a href="#"><span class="camera"></span></a> *@
    @*                 <h6>Web design</h6> *@
    @*                 <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p> *@
    @*             </div> *@
    @*             <div class="col-md-3 ser-in"> *@
    @*                 <a href="#"><span class="mike"></span></a> *@
    @*                 <h6>Web design</h6> *@
    @*                 <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p> *@
    @*             </div> *@
    @*             <div class="clearfix"></div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    @* <!----> *@
    @* <div class="clients" id="clients"> *@
    @*     <div class="container"> *@
    @*         <h3>SOME OF OUR <span>CLIENTS</span></h3> *@
    @*         <img src="/Content/images/li-in.png" alt="" /> *@
    @*         <!----> *@
    @*         <!-- requried-jsfiles-for owl --> *@
    @*         <script> *@
    @*             $(document).ready(function () { *@
    @*                 $("#owl-demo1").owlCarousel({ *@
    @*                     items: 1, *@
    @*                     lazyLoad: false, *@
    @*                     autoPlay: true, *@
    @*                     navigation: false, *@
    @*                     navigationText: false, *@
    @*                     pagination: true, *@
    @*                 }); *@
    @*             }); *@
    @*         </script> *@
    @*         <!-- //requried-jsfiles-for owl --> *@
    @*         <!-- start content_slider --> *@
    @*         <div id="owl-demo1" class="owl-carousel"> *@
    @*             <div class="item-left"> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel" src="/Content/images/ch.png" alt="" /> *@
    @*                 </a> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel" src="/Content/images/za.png" alt="" /> *@
    @*                 </a> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel in-onto" src="/Content/images/ga.png" alt="" /> *@
    @*                 </a> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel in-onto" src="/Content/images/la.png" alt="" /> *@
    @*                 </a> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel into-in" src="/Content/images/lc.png" alt="" /> *@
    @*                 </a> *@
    @*                 <div class="clearfix"></div> *@
    @*             </div> *@
    @*             <div class="item-left"> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel" src="/Content/images/ch.png" alt="" /> *@
    @*                 </a> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel" src="/Content/images/za.png" alt="" /> *@
    @*                 </a> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel in-onto" src="/Content/images/ga.png" alt="" /> *@
    @*                 </a> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel in-onto" src="/Content/images/la.png" alt="" /> *@
    @*                 </a> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel into-in" src="/Content/images/lc.png" alt="" /> *@
    @*                 </a> *@
    @*                 <div class="clearfix"></div> *@
    @*             </div> *@
    @*             <div class="item-left"> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel" src="/Content/images/ch.png" alt="" /> *@
    @*                 </a> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel" src="/Content/images/za.png" alt="" /> *@
    @*                 </a> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel in-onto" src="/Content/images/ga.png" alt="" /> *@
    @*                 </a> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel in-onto" src="/Content/images/la.png" alt="" /> *@
    @*                 </a> *@
    @*                 <a href="#"> *@
    @*                     <img class="channel into-in" src="/Content/images/lc.png" alt="" /> *@
    @*                 </a> *@
    @*                 <div class="clearfix"></div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    @* <!----> *@
    @* <div class="portfolio-top" id="portfolio"> *@
    @*     <div class="container"> *@
    @*         <div class="portfolio-grid"> *@
    @*             <h3>take a look at <span>our work </span></h3> *@
    @*             <img src="/Content/images/li-in.png" alt="" /> *@
    @*             <p><i>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</i></p> *@
    @*         </div> *@
    @*         <div class="photo"> *@
    @*             <div class="by-type"> *@
    @*                 <h6>Filter by type</h6> *@
    @*             </div> *@
    @*             <ul id="filters"> *@
    @*                 <li><span class="filter active" data-filter="app card icon web">All</span><label>|</label></li> *@
    @*                 <li><span class="filter" data-filter="app">Web design</span><label>|</label></li> *@
    @*                 <li> *@
    @*                     <span class="filter" data-filter="card">Mobile design  </span> *@
    @*                     <label>|</label> *@
    @*                 </li> *@
    @*                 <li><span class="filter" data-filter="icon">Photograpy</span></li> *@
    @*             </ul> *@
    @*             <div class="clearfix"></div> *@
    @*         </div> *@
    @*         <div id="portfoliolist"> *@
    @*             <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;"> *@
    @*                 <div class="portfolio-wrapper "> *@
    @*                     <a href="#" class="b-link-stripe b-animate-go  thickbox play-icon"> *@
    @*                         <img class="img-responsive" src="/Content/images/men.jpg" alt="" /> *@
    @*                     </a> *@
    @*                     <div class="simple"> *@
    @*                         <h5>Trend and fashion</h5> *@
    @*                         <p>Website design</p> *@
    @*                         <label></label> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;"> *@
    @*                 <div class="portfolio-wrapper"> *@
    @*                     <a href="#" class="b-link-stripe b-animate-go  thickbox play-icon "> *@
    @*                         <img class="img-responsive" src="/Content/images/men.jpg" alt="" /> *@
    @*                     </a> *@
    @*                     <div class="simple"> *@
    @*                         <h5>Trend and fashion</h5> *@
    @*                         <p>Website design</p> *@
    @*                         <label></label> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;"> *@
    @*                 <div class="portfolio-wrapper"> *@
    @*                     <a href="#" class="b-link-stripe b-animate-go  thickbox play-icon "> *@
    @*                         <img class="img-responsive" src="/Content/images/men.jpg" alt="" /> *@
    @*                     </a> *@
    @*                     <div class="simple"> *@
    @*                         <h5>Trend and fashion</h5> *@
    @*                         <p>Website design</p> *@
    @*                         <label></label> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;"> *@
    @*                 <div class="portfolio-wrapper "> *@
    @*                     <a href="#" class="b-link-stripe b-animate-go  thickbox play-icon "> *@
    @*                         <img class="img-responsive" src="/Content/images/men.jpg" alt="" /> *@
    @*                     </a> *@
    @*                     <div class="simple"> *@
    @*                         <h5>Trend and fashion</h5> *@
    @*                         <p>Website design</p> *@
    @*                         <label></label> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;"> *@
    @*                 <div class="portfolio-wrapper "> *@
    @*                     <a href="#" class="b-link-stripe b-animate-go  thickbox play-icon "> *@
    @*                         <img class="img-responsive" src="/Content/images/danger.jpg" alt="" /> *@
    @*                     </a> *@
    @*                     <div class="simple"> *@
    @*                         <h5>Trend and fashion</h5> *@
    @*                         <p>Website design</p> *@
    @*                         <label></label> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;"> *@
    @*                 <div class="portfolio-wrapper"> *@
    @*                     <a href="#small-dialog5" class="b-link-stripe b-animate-go  thickbox play-icon "> *@
    @*                         <img class="img-responsive" src="/Content/images/danger.jpg" alt="" /> *@
    @*                     </a> *@
    @*                     <div class="simple"> *@
    @*                         <h5>Trend and fashion</h5> *@
    @*                         <p>Website design</p> *@
    @*                         <label></label> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;"> *@
    @*                 <div class="portfolio-wrapper"> *@
    @*                     <a href="#small-dialog5" class="b-link-stripe b-animate-go  thickbox play-icon "> *@
    @*                         <img class="img-responsive" src="/Content/images/danger.jpg" alt="" /> *@
    @*                     </a> *@
    @*                     <div class="simple"> *@
    @*                         <h5>Trend and fashion</h5> *@
    @*                         <p>Website design</p> *@
    @*                         <label></label> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;"> *@
    @*                 <div class="portfolio-wrapper"> *@
    @*                     <a href="#small-dialog5" class="b-link-stripe b-animate-go  thickbox play-icon "> *@
    @*                         <img class="img-responsive" src="/Content/images/danger.jpg" alt="" /> *@
    @*                     </a> *@
    @*                     <div class="simple"> *@
    @*                         <h5>Trend and fashion</h5> *@
    @*                         <p>Website design</p> *@
    @*                         <label></label> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;"> *@
    @*                 <div class="portfolio-wrapper"> *@
    @*                     <a href="#small-dialog5" class="b-link-stripe b-animate-go  thickbox play-icon "> *@
    @*                         <img class="img-responsive" src="/Content/images/phone.jpg" alt="" /> *@
    @*                     </a> *@
    @*                     <div class="simple"> *@
    @*                         <h5>Trend and fashion</h5> *@
    @*                         <p>Website design</p> *@
    @*                         <label></label> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;"> *@
    @*                 <div class="portfolio-wrapper"> *@
    @*                     <a href="#small-dialog5" class="b-link-stripe b-animate-go  thickbox play-icon "> *@
    @*                         <img class="img-responsive" src="/Content/images/phone.jpg" alt="" /> *@
    @*                     </a> *@
    @*                     <div class="simple"> *@
    @*                         <h5>Trend and fashion</h5> *@
    @*                         <p>Website design</p> *@
    @*                         <label></label> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;"> *@
    @*                 <div class="portfolio-wrapper"> *@
    @*                     <a href="#small-dialog5" class="b-link-stripe b-animate-go  thickbox play-icon "> *@
    @*                         <img class="img-responsive" src="/Content/images/phone.jpg" alt="" /> *@
    @*                     </a> *@
    @*                     <div class="simple"> *@
    @*                         <h5>Trend and fashion</h5> *@
    @*                         <p>Website design</p> *@
    @*                         <label></label> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;"> *@
    @*                 <div class="portfolio-wrapper"> *@
    @*                     <a href="#small-dialog5" class="b-link-stripe b-animate-go  thickbox play-icon "> *@
    @*                         <img class="img-responsive" src="/Content/images/phone.jpg" alt="" /> *@
    @*                     </a> *@
    @*                     <div class="simple"> *@
    @*                         <h5>Trend and fashion</h5> *@
    @*                         <p>Website design</p> *@
    @*                         <label></label> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="clearfix"></div> *@
    @*         </div> *@
    @*         <!-- Script for gallery Here --> *@
    @*         <script type="text/javascript"> *@
    @*             $(function () { *@

    @*                 var filterList = { *@

    @*                     init: function () { *@

    @*                         // MixItUp plugin *@
    @*                         // http://mixitup.io *@
    @*                         $('#portfoliolist').mixitup({ *@
    @*                             targetSelector: '.portfolio', *@
    @*                             filterSelector: '.filter', *@
    @*                             effects: ['fade'], *@
    @*                             easing: 'snap', *@
    @*                             // call the hover effect *@
    @*                             onMixEnd: filterList.hoverEffect() *@
    @*                         }); *@

    @*                     }, *@

    @*                     hoverEffect: function () { *@

    @*                         // Simple parallax effect *@
    @*                         $('#portfoliolist .portfolio').hover( *@
    @*                             function () { *@
    @*                                 $(this).find('.label').stop().animate({ bottom: 0 }, 200, 'easeOutQuad'); *@
    @*                                 $(this).find('img').stop().animate({ top: -30 }, 500, 'easeOutQuad'); *@
    @*                             }, *@
    @*                             function () { *@
    @*                                 $(this).find('.label').stop().animate({ bottom: -40 }, 200, 'easeInQuad'); *@
    @*                                 $(this).find('img').stop().animate({ top: 0 }, 300, 'easeOutQuad'); *@
    @*                             } *@
    @*                         ); *@

    @*                     } *@

    @*                 }; *@

    @*                 // Run the show! *@
    @*                 filterList.init(); *@
    @*             }); *@
    @*         </script> *@
    @*         <!-- Gallery Script Ends --> *@
    @*     </div> *@
    @* </div> *@
    @* <!----> *@
    @* <div class="test" id="test"> *@
    @*     <div class="container"> *@
    @*         <h3>our clients' <span>testimonials </span></h3> *@
    @*         <img src="/Content/images/li-in.png" alt="" /> *@
    @*         <!----> *@
    @*         <!-- requried-jsfiles-for owl --> *@
    @*         <script> *@
    @*             $(document).ready(function () { *@
    @*                 $("#owl-demo2").owlCarousel({ *@
    @*                     items: 1, *@
    @*                     lazyLoad: false, *@
    @*                     autoPlay: true, *@
    @*                     navigation: false, *@
    @*                     navigationText: false, *@
    @*                     pagination: true, *@
    @*                 }); *@
    @*             }); *@
    @*         </script> *@
    @*         <!-- //requried-jsfiles-for owl --> *@
    @*         <!-- start content_slider --> *@
    @*         <div id="owl-demo2" class="owl-carousel"> *@
    @*             <div class="item-bottom"> *@
    @*                 <div class="item-right"> *@
    @*                     <p>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p> *@
    @*                     <span> *@
    @*                         Dean Martin, *@
    @*                         <label>CEO Acme Inc.</label> *@
    @*                     </span> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="item-bottom"> *@
    @*                 <div class="item-right"> *@
    @*                     <p>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p> *@
    @*                     <span> *@
    @*                         Dean Martin, *@
    @*                         <label>CEO Acme Inc.</label> *@
    @*                     </span> *@
    @*                 </div> *@
    @*             </div> *@
    @*             <div class="item-bottom"> *@
    @*                 <div class="item-right"> *@
    @*                     <p>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p> *@
    @*                     <span> *@
    @*                         Dean Martin, *@
    @*                         <label>CEO Acme Inc.</label> *@
    @*                     </span> *@
    @*                 </div> *@
    @*             </div> *@

    @*         </div> *@
    @*     </div> *@
    @* </div> *@
</div>





<!--contact-->
<section class="contact" id="contact">
    <div class="container">
        <div class="contact-grid">
            <h3>feel free to <span>contact us </span></h3>
        </div>

        <div class="contact-details">
            <h4>Our Contact Details</h4>
            <p>Email: support@company.com</p>
            <p>Phone: +1 123-456-7890</p>
            <p>Address: 123 Street, City, Country</p>
        </div>

        <form id="con_id">
            <div class="grid-contact">
                <div class="col-md-6 contact-left">
                    <p class="your-para">Name<span>*</span></p>
                    <input type="text" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 contact-left">
                    <p class="your-para">Email address<span>*</span></p>
                    <input type="email" placeholder="Your Email" required>
                </div>
                <div class="col-md-6 contact-left">
                    <p class="your-para">Country Code<span>*</span></p>
                    <select id="country-code" required>
                        <option value="" disabled selected>Select Country Code</option>
                        <option value="US +1">United States (+1)</option>
                        <option value="IN +91">India (+91)</option>
                        <option value="UK +44">United Kingdom (+44)</option>
                        <option value="AU +61">Australia (+61)</option>
                        <option value="CA +1">Canada (+1)</option>
                        <!-- Add more country codes as needed -->
                    </select>
                </div>
                <div class="col-md-6 contact-left">
                    <p class="your-para">Contact Number<span>*</span></p>
                    <input type="text" id="contact-number" placeholder="Contact Number" required>
                </div>
                <div class="col-md-6 contact-left">
                    <p class="your-para">City<span>*</span></p>
                    <input type="text" placeholder="City" required>
                </div>
            </div>
            <p class="message-para">Message<span>*</span></p>
            <textarea cols="77" rows="6" placeholder="Your Message" required></textarea>
            <div class="send">
                <input type="submit" value="SEND">
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</section>



<!--footer-->
<section class="footer">
    <div class="container">
        <div class="footer-class">
            <p class="footer-grid">
                Copyrights © 2024, All Rights Reserved. Powered By BICSET
            </p>
            <ul class="social-ic-icons">
                <li class="facebook"><a href="#"><span></span></a></li>
                <li class="twitter"><a href="#"><span></span></a></li>
                <li class="gmail"><a href="#"><span></span></a></li>
                <li class="browser"><a href="#"><span></span></a></li>
            </ul>

            <div class="clearfix"></div>
        </div>
    </div>
    <a href="#" id="toTop"><span id="toTopHover"></span></a>
</section>
