 @{
    ViewData["Title"] = "Home";
}


<section class="header">
    <div class="container">
        <div class="header-matter">
            <h2>WELCOME TO <span>ICSET</span></h2>
            <div class="headabo">
                <p>
                    Conference will be an ideal platform for the researchers to exchange and share innovative ideas, experience, challenges and establish research relations worldwide.
                </p>
            </div>
            <!-- Register Button -->
            <div class="register">
                <a class="headregister" asp-action="New_paper_submission" asp-controller="Authors_Desk">Register</a>
            </div>
            <a href="#about" class="scroll">
                <img src="/img/down.png" class="scroll-icon" alt="Scroll Down" />
            </a>
        </div>
    </div>
</section>


<!--content(about)-->
<section class="content">
    <div class="container">
        <div class="about" id="about">
            <div class="about-left">
                <img class="red" src="~/img/about.jpg" alt="About Us Image" />
            </div>
            <div class="left-about">
                <small>ABOUT US</small>
                <h3>Some words about us</h3>
                <p>
                    About the Conference
                    The International Conference on Engineering Trends is a biennial conference which aims to provide high quality research by bringing together researchers and practitioners from academia and industry. It is an international forum to communicate and discuss various research findings, technological advancements and innovations in broad areas of research like Advanced Computer Science and Information Technology. These emerging inter disciplinary research areas have helped to solve complex problems and gained prominent attention in recent years. This conference will highlight innovative research directions, novel applications in design, analysis and modeling of the aforementioned key areas. This conference will be an ideal platform for the researchers to exchange and share innovative ideas, experience, challenges and establish research relations worldwide.
                </p>
            </div>
        </div>
    </div>
</section>


<!--keydates-->
<div class="key-dates-container">

    <div class="keyheading">
        <h3>TAKE A LOOK AT OUR <span>KEY DATES</span> </h3>
    </div>
    
    <div class="key-dates-grid">
        <div class="key-date-item">
            <div class="icon"><i class="fa-regular fa-calendar"></i></div>
            <h2 class="key-date-heading">Last Date for Full Paper Submission</h2>
            <hr class="divider" />
            <h2 class="key-date">17‐04‐2024</h2>
        </div>
        <div class="key-date-item">
            <div class="icon"><i class="fa-regular fa-calendar-minus"></i></div>
            <h2 class="key-date-heading">Notification of Paper Acceptance</h2>
            <hr class="divider" />
            <h2 class="key-date">18‐04‐2024</h2>
        </div>
        <div class="key-date-item">
            <div class="icon"><i class="fa-regular fa-calendar-plus"></i></div>
            <h2 class="key-date-heading">Camera Ready Paper Submission</h2>
            <hr class="divider" />
            <h2 class="key-date">20‐04‐2024</h2>
        </div>
        <div class="key-date-item">
            <div class="icon"><i class="fa-regular fa-calendar-check"></i></div>
            <h2 class="key-date-heading">Last Date for Register/Payment</h2>
            <hr class="divider" />
            <h2 class="key-date">22‐04‐2024</h2>
        </div>
    </div>
</div>



<!--portfolio-->
<section class="portfolio-section" id="portfolio">
    <div class="portcontainer">
        <div class="portfolio-header">
            <h3>Take a Look at <span>Our Invitees</span></h3>
        </div>
        <div class="filter-section">
            <h6></h6>
            <ul class="filters">
                <li><span class="filter active" data-filter="all">All</span></li>
                <li><span class="filter" data-filter="key">Key Invitees</span></li>
                <li><span class="filter" data-filter="chief">Chief Patrons</span></li>
            </ul>
        </div>
        <div id="portfoliolist" class="portfolio-grid">
            <!-- Key Invitees (2 items) -->
            <div class="portfolio-item mix key">
                <img src="~/img/invities1.jpg" alt="Key Invitees">
                <div class="overlay">
                    <h5>Key Invitees</h5>
                </div>
            </div>
            <div class="portfolio-item mix key">
                <img src="~/img/invities2.jpg" alt="Key Invitees">
                <div class="overlay">
                    <h5>Key Invitees</h5>
                </div>
            </div>

            <!-- Chief Patrons (4 items) -->
            <div class="portfolio-item mix chief">
                <img src="~/img/chief1.jpg" alt="Chief Patrons">
                <div class="overlay">
                    <h5>Chief Patrons</h5>
                </div>
            </div>
            <div class="portfolio-item mix chief">
                <img src="~/img/chief2.jpg" alt="Chief Patrons">
                <div class="overlay">
                    <h5>Chief Patrons</h5>
                </div>
            </div>
            <div class="portfolio-item mix chief">
                <img src="~/img/chief3.jpg" alt="Chief Patrons">
                <div class="overlay">
                    <h5>Chief Patrons</h5>
                </div>
            </div>
            <div class="portfolio-item mix chief">
                <img src="~/img/chief4.jpg" alt="Chief Patrons">
                <div class="overlay">
                    <h5>Chief Patrons</h5>
                </div>
            </div>
        </div>
    </div>
</section>



<!--avenue and contact-->
<section class="avenue" id="avenue">
    <div class="avenue-container">


        <!-- Where and When Section -->
        <div class="event-details">
            <div class="event-detail-box">
                <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <h4 class="detail-title">WHERE</h4>
                <p class="detail-info">
                    V.R.S. College of Engineering and Technology<br>
                    Arasur - 607 107<br>
                    Villupuram District
                </p>
            </div>

            <div class="event-detail-box">
                <div class="icon">
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <h4 class="detail-title">WHEN</h4>
                <p class="detail-info">
                    26<sup>th</sup> April, 2024<br>
                    (Friday)
                </p>

                <!-- Register Button -->
                <div class="register-button-container">
                    <a class="register-button" asp-action="New_paper_submission" asp-controller="Authors_Desk">Register</a>
                </div>

            </div>

            <!-- Contact Details Section -->
            <div class="event-detail-box">
                <div class="contact-details">
                    <h3><span>inquiries</span></h3>
                    <h4>CONTACT</h4>
                    <p><i class="fas fa-envelope"></i> Email: support@company.com</p>
                    <p><i class="fas fa-phone"></i> Phone: +1 123-456-7890</p>
                    <p><i class="fas fa-map"></i> Address: 123 Street, City, Country</p>
                </div>
            </div>
            
        </div>

    </div>
</section>


<!--footer-->
<section class="footer"> 
     <div class="footcontainer"> 
        <div class="footer-class"> 
           <p class="footer-grid"> 
                 Copyrights © 2024, All Rights Reserved. Powered By BICSET 
             </p> 
             <ul class="social-ic-icons"> 
                 <li class="facebook"><a href="#"><span></span></a></li> 
                 <li class="twitter"><a href="#"><span></span></a></li> 
                 <li class="gmail"><a href="#"><span></span></a></li> 
                 <li class="browser"><a href="#"><span></span></a></li> 
             </ul> 
             <div class="clearfix"></div> 
         </div> 
     </div> 
    <a href="#" id="toTop"><span id="toTopHover"></span></a> 
 </section>
