<!-- Background Image Section -->
<div id="intro-example" class="img-fluid  bg-danger" style=" height: 30vh;  width: 100%;">
    <div class="mask w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
        <div class="text-white text-center px-3">
            <h2 class="fw-bold display-5 text-uppercase text-light">Organize Committee</h2>
            <p class="text-danger lead">Exploring Innovations in Computing, Networking, and Data Science</p>
        </div>
    </div>
</div>


<!--services-->
<section class="services" id="services">
    <div class="container">
        <div class="services-grid">
            <h3>take a look at <span>our services </span></h3>
            <img src="images/li-in.png" alt="">
            <p><i>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</i></p>
        </div>
        <div class="ser-grid">
            <div class="col-md-3 ser-in">
                <a href="#"><span></span></a>
                <h6>Web design</h6>
                <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>
            <div class="col-md-3 ser-in">
                <a href="#"><span class="mobile"></span></a>
                <h6>Web design</h6>
                <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>
            <div class="col-md-3 ser-in">
                <a href="#"><span class="camera"></span></a>
                <h6>Web design</h6>
                <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>
            <div class="col-md-3 ser-in">
                <a href="#"><span class="mike"></span></a>
                <h6>Web design</h6>
                <p>The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="clients" id="clients">
        <div class="container">
            <h3>SOME OF OUR <span>CLIENTS</span></h3>

            <!-- Start carousel -->
            <div id="owl-demo1" class="owl-carousel owl-theme">
                <div class="item-left">
                    <a href="#"><img class="channel" src="/css/client.jpg" alt="Client 1"></a>
                    <a href="#"><img class="channel" src="/css/client.jpg" alt="Client 2"></a>
                    <a href="#"><img class="channel" src="/css/client.jpg" alt="Client 3"></a>
                    <a href="#"><img class="channel" src="/css/client.jpg" alt="Client 4"></a>
                    <a href="#"><img class="channel" src="/css/client.jpg" alt="Client 5"></a>
                </div>
                <div class="item-left">
                    <a href="#"><img class="channel mb-5" src="/css/client.jpg" alt="Client 1"></a>
                    <a href="#"><img class="channel mb-5" src="/css/client.jpg" alt="Client 2"></a>
                    <a href="#"><img class="channel mb-5" src="/css/client.jpg" alt="Client 3"></a>
                    <a href="#"><img class="channel mb-5" src="/css/client.jpg" alt="Client 4"></a>
                    <a href="#"><img class="channel mb-5" src="/css/client.jpg" alt="Client 5"></a>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        $("#owl-demo1").owlCarousel({
            items: 1,             // Show one set of clients at a time
            loop: true,           // Loop through the items
            autoplay: true,       // Automatically play the carousel
            autoplayTimeout: 5000, // Delay between transitions (ms)
            dots: true,           // Show pagination dots
            nav: false            // Disable navigation arrows
        });
    });
</script>
