<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConferenceWebSiteICSET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConferenceWebSiteICSET.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>

    <!-- Navigation Bar -->
    <header class="header-top">
        <div class="nav-container">
            <div class="logo">
                <a asp-action="Index" asp-controller="Home"><img src="/css/Adobe Express - file.png" alt="ICSET Logo"></a>
            </div>
            <nav class="top-nav">
                <span class="menu-toggle">&#9776;</span>
                <ul class="nav-links">
                    <li class="active"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="dropdown">
                        <a href="#about">About Us <i class="fas fa-chevron-down dropdown-icon"></i></a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="About_the_Conference" asp-controller="AboutUs">About the Conference</a></li>
                            <li><a asp-action="Scope_of_conference" asp-controller="AboutUs">Scope of conference</a></li>
                            <li><a asp-action="Origizing_Comittee" asp-controller="AboutUs">Origizing Comittee</a></li>
                            <li><a asp-action="Editorial_Board" asp-controller="AboutUs">Editorial Board</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#author's">Author's Desk <i class="fas fa-chevron-down dropdown-icon"></i></a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Journal_Publication" asp-controller="Authors_Desk">Journal Publication</a></li>
                            <li><a asp-action="Key_Date" asp-controller="Authors_Desk">Key Date</a></li>
                            <li><a asp-action="Registration_Details" asp-controller="Authors_Desk">Registration Details</a></li>
                            <li><a asp-action="New_paper_submission" asp-controller="Authors_Desk">New paper submission</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>


     @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    
</body>
</html>
