@{
    ViewData["Title"] = "Registration Details";
}


<link href="~/css/regdetials.css" rel="stylesheet" />


<!-- Background Image Section -->
<div id="intro-example" class="img-fluid" style="height: 30vh; width: 100%; background-image: url('/img/bannerauthor.jpg'); background-size: cover; background-position: center;">
    <div class="mask w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
        <div class="text-white text-center px-3">
            <h2 class="fw-bold display-5 text-uppercase text-light">Registration Details</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
</div>


<div class="payment-instructions-container">
    <!-- Payment Instructions Section -->
    <div class="section-heading">
        <h3>Payment Instructions</h3>
    </div>

    <div class="instructions-list">
        <div class="instruction-item light-blue">
            Registration fee is payable only after your article is accepted.
        </div>
        <div class="instruction-item light-lavender">
            Payment options: Online Transfer (NEFT / IMPS) or Cash Deposit.
        </div>
        <div class="instruction-item light-blue">
            After payment, send proof (Screenshot / Reference Number / Transaction ID or Counter Slip) along with your Paper ID.
        </div>
        <div class="instruction-item light-lavender">
            At least one author of each accepted paper must register and attend the conference.
        </div>
        <div class="instruction-item light-blue">
            Selected paper abstracts will be published in the conference proceedings with ISBN.
        </div>
    </div>

    <!-- Bank Details Section -->
    <div class="section-heading">
        <h3>Bank Details</h3>
    </div>

    <div class="bank-details">
        <table>
            <tbody>
                <tr>
                    <td class="bankdetail-title">Account Name:</td>
                    <td class="bankdetail-info">J.K. Jothi Kalpana, Professor, Dept. of Computer Science & Engineering, VRS College of Engineering and Technology, Arasur.</td>
                </tr>
                <tr>
                    <td class="bankdetail-title">Account Number:</td>
                    <td class="bankdetail-info">045100050302269</td>
                </tr>
                <tr>
                    <td class="bankdetail-title">Branch:</td>
                    <td class="bankdetail-info">Villupuram</td>
                </tr>
                <tr>
                    <td class="bankdetail-title">IFSC Code:</td>
                    <td class="bankdetail-info">TMBL0000045</td>
                </tr>
                <tr>
                    <td class="bankdetail-title">MICR:</td>
                    <td class="bankdetail-info">605060005</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!--avenue & contact-->
<section class="avenue" id="avenue">
    <div class="avenue-container">


        <!-- Where and When Section -->
        <div class="event-details">
            <div class="event-detail-box">
                <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <h4 class="detail-title">WHERE</h4>
                <p class="detail-info">
                    V.R.S. College of Engineering and Technology<br>
                    Arasur - 607 107<br>
                    Villupuram District
                </p>
            </div>

            <div class="event-detail-box">
                <div class="icon">
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <h4 class="detail-title">WHEN</h4>
                <p class="detail-info">
                    26<sup>th</sup> April, 2024<br>
                    (Friday)
                </p>

                <!-- Register Button -->
                <div class="register-button-container">
                    <a class="register-button" asp-action="New_paper_submission" asp-controller="Authors_Desk">Register</a>
                </div>

            </div>

            <!-- Contact Details Section -->
            <div class="event-detail-box">
                <div class="contact-details">
                    <h3><span>inquiries</span></h3>
                    <h4>CONTACT</h4>
                    <p><i class="fas fa-envelope"></i> Email: support@company.com</p>
                    <p><i class="fas fa-phone"></i> Phone: +1 123-456-7890</p>
                    <p><i class="fas fa-map"></i> Address: 123 Street, City, Country</p>
                </div>
            </div>

        </div>

    </div>
</section>

<!--footer-->
<section class="footer">
    <div class="footcontainer">
        <div class="footer-class">
            <p class="footer-grid">
                Copyrights © 2024, All Rights Reserved. Powered By BICSET
            </p>
            <ul class="social-ic-icons">
                <li class="facebook"><a href="#"><span></span></a></li>
                <li class="twitter"><a href="#"><span></span></a></li>
                <li class="gmail"><a href="#"><span></span></a></li>
                <li class="browser"><a href="#"><span></span></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <a href="#" id="toTop"><span id="toTopHover"></span></a>
</section>