@{
    ViewData["Title"] = "Organizing Committee";
}

<link href="~/css/orgainzer.css" rel="stylesheet" />

<!-- Background Image Section -->
<div id="intro-example" class="img-fluid" style="height: 30vh; width: 100%; background-image: url('/img/banner.jpg'); background-size: cover; background-position: center;">
    <div class="mask w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
        <div class="text-white text-center px-3">
            <h2 class="fw-bold display-5 text-uppercase text-light">Origizing Comittee</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
</div>


<!-- organize commite member Section -->
<section class="committee-section">
    <!-- Chairman -->
    <div class="committee-block">
        <h4 class="committee-title">Chairman</h4>
        <div class="committee-card">
            <div class="committee-body">
                Dr. N. Anbazhaghan, M.E., Ph.D., Principal
            </div>
        </div>
    </div>

    <!-- Convenors -->
    <div class="committee-block">
        <h4 class="committee-title">Convenors</h4>
        <div class="committee-card">
            <ul class="committee-list">
                <li>Dr. J. Joseph Ignatious, M.E., Ph.D., Professor / ECE</li>
                <li>Dr. G. Perumal, M.E., Ph.D., Professor & Head / MECH</li>
                <li>Dr. J.K. Jothi Kalpana, M.Tech., Ph.D., Professor / CSE</li>
                <li>Dr. S. Shanmuga Sundaram, M.E., Ph.D., Coordinator / S&H</li>
            </ul>
        </div>
    </div>

    <!-- Advisory Committee -->
    <div class="committee-block">
        <h4 class="committee-title">Advisory Committee</h4>
        <div class="committee-card">
            <ul class="committee-list">
                <li>Mr. G. Sadiq Basha, HOD / ECE</li>
                <li>Mr. K. Ramesh, HOD / CSE</li>
                <li>Mr. S. Manimaran, HOD / EEE</li>
                <li>Mr. A. Kumar, HOD / CIVIL</li>
            </ul>
        </div>
    </div>

    <!-- Coordinators -->
    <div class="committee-block">
        <h4 class="committee-title">Coordinators</h4>
        <div class="committee-card">
            <ul class="committee-list">
                <li>Mr. N. Gobinathan, Assistant Professor / CSE</li>
                <li>Mr. P. Paruthillam Vazhuthi, Assistant Professor / ECE</li>
                <li>Mr. N. Ejoumalae, Assistant Professor / MEC</li>
                <li>Mr. R. Vimalprakash, Assistant Professor / EEE</li>
            </ul>
        </div>
    </div>

    <!-- Members -->
    <div class="committee-block">
        <h4 class="committee-title">Members</h4>
        <div class="committee-card">
            <ul class="committee-list">
                <li>Mr. C. Subramaniyan, Associate Professor / MECH</li>
                <li>Mr. B. Annadurai, Assistant Professor / EEE</li>
                <li>Mrs. T. Priyadarshini, Assistant Professor / ECE</li>
                <li>Mr. P. Dinesh Babu, Assistant Professor / CSE</li>
                <li>Mrs. S. Sivapriya, Assistant Professor / CIVIL</li>
            </ul>
        </div>
    </div>
</section>


<!--avenue & contact-->
<section class="avenue" id="avenue">
    <div class="avenue-container">


        <!-- Where and When Section -->
        <div class="event-details">
            <div class="event-detail-box">
                <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <h4 class="detail-title">WHERE</h4>
                <p class="detail-info">
                    V.R.S. College of Engineering and Technology<br>
                    Arasur - 607 107<br>
                    Villupuram District
                </p>
            </div>

            <div class="event-detail-box">
                <div class="icon">
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <h4 class="detail-title">WHEN</h4>
                <p class="detail-info">
                    26<sup>th</sup> April, 2024<br>
                    (Friday)
                </p>

                <!-- Register Button -->
                <div class="register-button-container">
                    <a class="register-button" asp-action="New_paper_submission" asp-controller="Authors_Desk">Register</a>
                </div>

            </div>

            <!-- Contact Details Section -->
            <div class="event-detail-box">
                <div class="contact-details">
                    <div class="icon">
                        <i class="fa-solid fa-address-card"></i>
                    </div>
                    <h4>CONTACT</h4>
                    <p><i class="fas fa-envelope"></i> Email: support@company.com</p>
                    <p><i class="fas fa-phone"></i> Phone: +1 123-456-7890</p>
                    <p><i class="fas fa-map"></i> Address: 123 Street, City, Country</p>
                </div>
            </div>

        </div>

    </div>
</section>


<!--footer-->
<section class="footer">
    <div class="footcontainer">
        <div class="footer-class">
            <p class="footer-grid">
                Copyrights © 2024, All Rights Reserved. Powered By BIICCSI
            </p>
            <ul class="social-ic-icons">
                <li class="facebook"><a href="#"><span></span></a></li>
                <li class="twitter"><a href="#"><span></span></a></li>
                <li class="gmail"><a href="#"><span></span></a></li>
                <li class="browser"><a href="#"><span></span></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <a href="#" id="toTop"><span id="toTopHover"></span></a>
</section>