<!-- Background Image Section -->
<div id="intro-example" class="img-fluid" style="height: 30vh; width: 100%; background-image: url('/css/banner2.jpg'); background-size: cover; background-position: center;">
    <div class="mask w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
        <div class="text-white text-center px-3">
            <h2 class="fw-bold display-5 text-uppercase text-light">Origizing Comittee</h2>
            <div class="divider mx-auto my-3"></div>
        </div>
    </div>
</div>



<!--footer-->
<section class="footer">
    <div class="footcontainer">
        <div class="footer-class">
            <p class="footer-grid">
                Copyrights © 2024, All Rights Reserved. Powered By BICSET
            </p>
            <ul class="social-ic-icons">
                <li class="facebook"><a href="#"><span></span></a></li>
                <li class="twitter"><a href="#"><span></span></a></li>
                <li class="gmail"><a href="#"><span></span></a></li>
                <li class="browser"><a href="#"><span></span></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <a href="#" id="toTop"><span id="toTopHover"></span></a>
</section>