<!-- Background Image Section -->
<div id="intro-example" class="img-fluid  bg-danger" style=" height: 30vh;  width: 100%;">
    <div class="mask w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
        <div class="text-white text-center px-3">
            <h2 class="fw-bold display-5 text-uppercase text-light">Organize Committee</h2>
            <p class="text-danger lead">Exploring Innovations in Computing, Networking, and Data Science</p>
        </div>
    </div>
</div>