body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #F7F7F7;
}


#contact h5 {
    padding-inline-start: 27px;
    font-size: 2.2rem;
    text-align: start ;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

#main_contact_form input {
    border-color: #000;
}

    #main_contact_form input:hover {
        border-color: #fcac45;
        box-shadow: 0 0 6px rgba(43, 120, 228, 0.4);
    }

    #main_contact_form input:focus {
        border-color: #fcac45;
        box-shadow: 0 0 6px rgba(43, 120, 228, 0.4);
    }

#main_contact_form textarea {
    border-color: #000;
}

    #main_contact_form textarea:hover {
        border-color: #fcac45;
        box-shadow: 0 0 6px rgba(43, 120, 228, 0.4);
    }

    #main_contact_form textarea:focus {
        border-color: #fcac45;
        box-shadow: 0 0 6px rgba(43, 120, 228, 0.4);
    }
.consub button {
    background: linear-gradient(135deg, #fdbd71, #ff9040);
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

    .consub button:hover {
        background: linear-gradient(135deg, #fdbd71, #ff9040);
        color:#fff;
        transform: translateY(-2px);
    }

#conh {
    color: #000;
}